<%- include("./partials/header.ejs"); -%>

  <h1>My Developer Journey</h1>

  <% posts.forEach(post =>{ %>
    <h2 style="padding-top:50px;"><%= post.title %></h2>
    <p><%= post.content.substring(0,100) + " ..." %>
      <a href="/posts/<%=post._id%>">Read More</a>
    </p>
  <%});%>



<%- include("./partials/footer.ejs"); -%>
