<%- include("./partials/header.ejs"); -%>

  <h1><%=title%></h1>
  <h3><%=subtitle%></h3>
  <hr />
  <p><%=content%></p>
  <hr />
  <h3 style="text-align:right;">Published on: <%=date%></h3>




<%- include("./partials/footer.ejs"); -%>
